* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;
}
:root {
    --whaite-color: #fff;
    --black-color: #333;
    --gray-color: #888;
}
body {
    background-color: #f6f6f8;
    min-height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    color: var(--black-color);
}
.image {
    width: 300px;
}
.image img {
    width: 100%;
}
a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}
button {
    width: 50%;
    height: 36px;
    border: none;
    background-color: var(--black-color);
    color: var(--whaite-color);
    border-radius: 10px !important;
}
