* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
:root {
    --whaite-color: #fff;
    --black-color: #000;
    --gray-color: #888;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: var(--whaite-color);
}
.content {
    width: 500px;
    margin: 20px 0;
    padding: 0 20px;
}
.content .logo {
    font-size: 30px;
    color: var(--black-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.content .texts {
    text-align: center;
}
.content .texts p {
    color: var(--gray-color);
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
}
.content button {
    width: 120px;
    height: 32px;
    border-radius: 9999999px;
    border: none;
    background-color: var(--black-color);
    color: var(--whaite-color);
    cursor: pointer;
}
.flags {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.flags div {
    width: 100px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}
.flags div span {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.flags div p {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .flags div {
        width: 75px;
    }
    .flags div span {
        width: 70%;
    }
}