* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
:root {
    --whaite-color: #fff;
    --black-color: #000;
    --gray-color: #888;
}
a {
    text-decoration: none;
    color: var(--whaite-color);
}
button {
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: var(--black-color);
    color: var(--whaite-color);
    cursor: pointer;
    margin-top: 20px;
}