* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;
}
:root {
    --whaite-color: #fff;
    --black-color: #333;
    --gray-color: #888;
}
body {
    background-color: #f6f6f8;
}
.box {
    width: 100%;
    background-color: var(--whaite-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 20px 0 #0000001a;
    margin-bottom: 20px;
    color: var(--black-color);
}
.country {
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.country p {
    margin-bottom: 0;
}
.country span {
    margin-left: 10px;
}
.pointInfo {
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.pointInfo p {
    margin-bottom: 0;
}
.pointInfo p:nth-child(2),
.pointInfo p:nth-child(4) {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.pointInfo p:nth-child(2) {
    background-color: #eee;
    color: #555;
}
.pointInfo p:nth-child(4) {
    background-color: #b1efb4;
    color: #4caf50;
}
.info {
    border-top: 1px solid #eee;
    margin-top: 5px;
    padding-top: 10px;
    font-size: 14px;
    color: var(--black-color);
}
.info p {
    margin-bottom: 0;
}
